* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f9;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: none;
  color: #344563;
  font-size: 15px;
  text-align: center;
  float: left;
  padding: 5px;
}

main {
  background-image: url(images/bg-images/header-shapes\ mobile@2x.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom-left-radius: 150px;
  padding: 100px 20px 150px 20px;
}

#logo {
  text-align: center;
  color: #6070ff;
  font-size: 18px;
}

button.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-button i {
  display: block;
  justify-content: space-evenly;
  width: 100%;
  height: 3px;
  background: #5d68f5;
}

main h1 {
  font-style: normal;
  color: #091e42;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

main h2 {
  font-size: 16px;
  font-weight: 400;
  color: #344563;
  margin-bottom: 18px;
  line-height: 24px;
}

main h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 10px;
}

.about-myself-content {
  margin-top: 100px;
}

.about-myself button {
  align-self: flex-start;
}

summary {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  font-size: 30px;
  margin-bottom: 10px;
}

menu.contact a i {
  color: #505f79;
  width: 20px;
  height: 20px;
}
