* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f9;
  font-family: "Poppins", sans-serif;
}

header {
  position: sticky;
  top: 0;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logo {
  text-align: center;
  color: #6070ff;
  font-size: 18px;
}

nav ul {
  list-style: none;
  display: none;
}

main {
  background-image: url(./images/bg-images/header-shapes\ mobile@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 134px;
  padding: 100px 20px 150px 20px;
}

#menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 20;
}

.mobile-popup-closeBtn i {
  display: block;
  justify-content: space-evenly;
  width: 100%;
  height: 3px;
  background: #67798e;
}

.desktop-popup-closeBtn i {
  display: block;
  justify-content: space-evenly;
  width: 100%;
  height: 3px;
  background: #67798e;
}

menu.contact a i {
  color: #505f79;
  width: 20px;
  height: 20px;
}

.mobile-popup-closeBtn i:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.mobile-popup-closeBtn i:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.desktop-popup-closeBtn i:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.desktop-popup-closeBtn i:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -5px);
}

#menu-button i {
  display: block;
  justify-content: space-evenly;
  width: 100%;
  height: 3px;
  background: #5d68f5;
}

#menu-button.open i:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  background: #fff;
}

#menu-button.open i:nth-child(2) {
  opacity: 0;
}

#menu-button.open i:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  background: #fff;
}

main h1 {
  font-style: normal;
  color: #091e42;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 18px;
}

main h2 {
  font-size: 16px;
  font-weight: 400;
  color: #344563;
  margin-bottom: 18px;
  line-height: 25px;
}

main h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 10px;
}

menu.contact {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  font-size: 30px;
  margin-bottom: 10px;
}

section.mobile-works {
  display: grid;
  grid-template-columns: 1fr;
}

section.mobile-works section {
  width: 90%;
  margin: 100px auto 0 auto;
  background: #fff;
  padding: 12px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

details ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 8px;
  background-color: #f7f7f9;
  padding: 5px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #253858;
}

details ul li img {
  border-radius: 50%;
  width: 48px;
  height: auto;
}

.mobile-image {
  display: block;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.about-myself h2 {
  font-size: 16px;
  font-weight: 400;
  color: #344563;
  margin-bottom: 10px;
}

.contact-me h2 {
  color: #ebebff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
}

.mobile-pop-head h2 {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-top: 10px;
}

.desktop-pop-head h2 {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-top: 10px;
}

section.mobile-works h2 {
  font-size: 32px;
  color: #172b4d;
  font-weight: 700;
}

ul.list1 {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0%;
}

li.list1-bold {
  font-size: 13px;
  font-weight: 600;
  color: #344563;
}

li.list1-dot {
  color: #c1c7d0;
  font-size: 35px;
}

li.list1-other {
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.mobile-popup-window p {
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.para-tech-btn p {
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  flex: 3;
}

section.mobile-works p {
  color: #344563;
  font-size: 15px;
  font-weight: 400;
}

ul.list2 {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 20px 0 20px 0;
}

ul.list2 li {
  border: 1px solid #ebebff;
  background: #ebebff;
  padding: 3px;
  border-radius: 5px;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
}

form button {
  align-self: flex-start;
}

.work-content button {
  align-self: self-start;
}

button.other-button {
  border: 1px solid #7f8cff;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 3%;
  color: #396df2;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.other-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.other-button:active {
  background: #2230d2;
}

.other-button:disabled {
  border: 1px solid #c1c7d0;
}

.about-myself {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 100px;
}

section.about-contact {
  background: #fff;
  border-top-right-radius: 100px;
}

.about-myself-content {
  margin-top: 80px;
  padding: 20px;
}

.about-myself h1 {
  color: #091e42;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.about-myself h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 10px;
}

.about-myself button {
  align-self: flex-start;
}

section.lang-frame-skills {
  width: 80%;
  margin: 30px auto 0 auto;
}

.tech-btn ul {
  margin-bottom: 17px;
}

section.lang-frame-skills ul {
  list-style-type: none;
}

#last-opt {
  margin-bottom: 30px;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 3px solid #f7f7f9;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: ">";
  transition: transform 0.3s ease;
}

details[open] summary::after {
  transform: rotate(90deg);
}

section.contact-me {
  background-color: #6070ff;
  background-image: url(./images/bg-images/contact-form.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  margin-top: 150px;
  padding: 100px 20px 20px 20px;
  border-top-left-radius: 80px;
}

.contact-me h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

form input,
textarea {
  background-color: #fff;
  width: 100%;
  height: 48px;
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

form input::placeholder {
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
}

form textarea {
  height: 170px;
}

form input:focus,
textarea:focus {
  outline: 2px solid blue;
}

form textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #b3bac5;
}

section.desktop-works {
  display: none;
}

section.work-content:hover {
  cursor: pointer;
  border: 2px solid #a7aeff;

  button {
    background: #4053fc;
    color: #fff;
  }
}

nav.open ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  list-style: none;
  padding: 20px;
  padding-top: 15%;
  left: 0;
  position: fixed;
  top: 0;
  background: rgba(96, 112, 255, 0.8);
  z-index: 10;
  backdrop-filter: blur(9px);
  width: 100vw;
  height: 100%;
}

nav.open ul li {
  font-size: 32px;
  font-weight: 600;
}

nav.open a {
  text-decoration: none;
  color: #fff;
}

.mobile-pop-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-popup-closeBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  margin: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.mobile-popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(193, 199, 208, 0.8);
  backdrop-filter: blur(3px);
  overflow-y: auto;
  display: none;
}

.mobile-popup-window {
  width: 92%;
  margin: 24px auto;
  background-color: #fff;
  padding: 12px;
  border-radius: 16px;
  overflow-y: auto;
}

hr {
  margin-bottom: 12px;
  border: 1px solid #ebecf0;
}

.live-btns {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
}

.mobile-popup-image {
  display: block;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.live-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 40px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #396df2;
  background: #fff;
}

img.btn-icon {
  height: 20px;
  width: 20px;
}

@media (min-width: 768px) {
  details ul {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 20px;
  }

  nav ul {
    display: block;
  }

  nav.open ul {
    display: none;
  }

  header {
    position: sticky;
    top: 0;
  }

  nav {
    padding-left: 12%;
    padding-right: 12%;
  }

  #menu-button {
    display: none;
  }

  nav ul li {
    display: flex;
    text-align: center;
    float: left;
    padding: 5px;
  }

  nav ul li a {
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
  }

  main {
    padding: 15%;
    padding-bottom: 15%;
    background: #fff url(./images/bg-images/Header\ bg@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  main h1 {
    font-style: normal;
    color: #091e42;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 18px;
  }

  main h2 {
    font-size: 20px;
    font-weight: 400;
    color: #344563;
    margin-bottom: 18px;
    line-height: 28px;
  }

  main h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #7f8cff;
    margin-bottom: 10px;
  }

  section.mobile-works {
    display: none;
  }

  section.desktop-works {
    display: block;
    padding: 20px;
  }

  section.desktop-works section {
    width: 90%;
    margin: 100px auto;
    background: #fff;
    padding: 18px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  section.work-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  section.work-content.reversed {
    flex-direction: row-reverse;
  }

  .work-content figure,
  .work-content aside {
    flex: 1;
  }

  form button {
    align-self: center;
  }

  section.work-content button {
    justify-self: start;
  }

  section.desktop-works h2 {
    font-size: 40px;
    color: #172b4d;
    font-weight: 700;
  }

  section.desktop-works ul.list1 {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin: 8px 0 30px 0;
    padding: 0%;
  }

  section.desktop-works ul li.list1-bold {
    font-size: 18px;
    font-weight: 500;
    color: #344563;
  }

  section.desktop-works ul li.list1-dot {
    color: #c1c7d0;
    font-size: 16px;
  }

  section.desktop-works ul li.list1-other {
    color: #7a869a;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
  }

  section.desktop-works p {
    color: #344563;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  ul.list2 {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-bottom: 25px;
  }

  section.desktop-works img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  section.desktop-works aside {
    padding: 24px;
  }

  section.about-myself {
    width: 93%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    padding-bottom: 100px;
    margin: auto;
    margin-bottom: 0;
  }

  details {
    margin: 0;
    padding: 0;
    align-self: center;
  }

  details ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 122px;
  }

  section.contact-content {
    width: 38%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  section.contact-me {
    background-color: #6070ff;
    background-image: url(./images/bg-images/contact\ form\ background\ shapes@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0;
  }

  form input,
  textarea {
    border-radius: 0;
  }
}

.desktop-popup-closeBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  margin: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.desktop-pop-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.para-tech-btn {
  display: flex;
  gap: 2rem;
}

.tech-btn {
  flex: 1;
}

.desktop-popup-window {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  width: 85%;
  margin: auto;
}

.desktop-popup-window ul li.list1-bold {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.desktop-popup-window ul li.list1-other1,
.desktop-popup-window ul li.list1-other2 {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #7a869a;
}

.desktop-popup-overlay {
  display: none;
  background: rgba(193, 199, 208, 0.8);
  backdrop-filter: blur(3px);
  padding: 48px 0;
  position: fixed;
  inset: 0;
  overflow-y: auto;
}

.desktop-pop-image {
  display: block;
  width: 100%;
  height: 80vh;
  border-radius: 8px;
  margin-bottom: 34px;
}
